.landContainer {
    display: flex;
    flex-wrap: wrap;
    height: 79vh;
}

.lotti_container {
    position: relative;
    background-image: url(../../assets/blob.svg);
    background-position: 18px;
    background-repeat: no-repeat;
}

.landHeading {
    width: 50vw;
    min-height: 54vh;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    block-size: fit-content;
    transition: all;
    transition-duration: 0.5s;
}

.landHeading::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(90deg, rgba(87, 123, 221, 1) 0%, rgba(252, 125, 33, 1) 46%, rgba(252, 125, 33, 1) 60%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.landImgSection {
    width: 35vw;
    margin-top: 4em;
    margin-left: 5em;
    height: 70vh;
}

.landHeading h1 {
    color: rgb(245, 222, 179);
}

.heading_box {
    border: 1.2px solid #39376c;
    border-radius: 15px;
}